<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sqCopyResolutionGroup">
      <section
        name="sqCopyResolution"
        type="SqCopyResolution.Model.SqCopyResolutionSection, SqCopyResolution"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>  
  <sqCopyResolutionGroup>
    <sqCopyResolution>
      <profile name="Default">
        <sonarQube
          url=""
          userName=""
          password="" />
        <source 
          projectKey="N-central:dev-vNext" />
        <destination 
          projectKeys="N-central:NCPM-AutoApprovals,N-central:dev-vNext_Test" />
      </profile>
    </sqCopyResolution>
  </sqCopyResolutionGroup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>