<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Url for SonarQube server -->
    <add key="SQ_Url" value=""/>
    <!-- Credentials for SonarQube server - username. -->
    <add key="SQ_Username" value=""/>
    <!-- Credentials for SonarQube server - password. -->
    <add key="SQ_Password" value=""/>
    <!-- Key of the project from which are resolutions copied. -->
    <add key="SQ_SourceProjectKey" value=""/>
    <!-- Comma-delimited list of destination projekt keys -->
    <add key="SQ_DestinationProjectKeys" value=""/>
    <!-- Comma-delimited list of resolution types which should be copied. Possible values are FALSE-POSITIVE, WONTFIX, FIXED, REMOVED -->
    <add key="SQ_Resolutions" value="FIXED,FALSE-POSITIVE,WONTFIX"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>